# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:  
1.Python  
2.Java  
3.JavaScript  
4.C++

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Create a table of Data Science tools
- Demonstrate how to create a Dockerfile and build a Docker image
- Query and manipulate nested JSON data using SQL

Some of the commonly used libraries used by Data Scientists include:  
1. NumPy  
2. Pandas  
3. TensorFlow  
4. Scikit-learn  
5. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

## Author
Zbigniew